# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/

# Env / Secrets
.env

# Local database
*.db

# Frontend
node_modules/
apps/frontend-studio/dist/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
